* {
    padding: 0;
    margin: 0;
}

body {
    background-color: yellow;
    font-family: "News Cycle", "Tahoma", "Verdana";
    font-size: 1.5em;
    margin: 4.5em auto;
    width: 80%;
    height: auto;
    text-align: center;
}

h1#nome_site{
    font-family: "Kaushan Script", "Tahoma", "Verdana";
    font-size: 4em;
}

/*celular*/
@media screen and (max-width: 767px) {
    body{
        margin: 2em;
        font-size: 1em;
    }
}

li.btn {
    margin: 0.5em;
    width: 5em;
    padding: 0.4em 1em;
    border: 0.2em solid black;
    list-style: none;
    display: inline-block;
    transition-duration: 0.5s
}

li.btn:hover {
    background-color: black;
    color: yellow;
    border: 0.2em solid yellow;
}

main {
    clear: both;
}

main p,nav, form {
    margin-top: 1.8em;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

footer {
    margin-top: 3.1em;
}

.btnvoltar,span{
    float: left;
    margin-right: 0.4em;
}

span {
    margin-top: 0.4em;
}

form {
    margin: 0.5em 0 0 0;
}

form input,textarea {
    font-family: "News Cycle", "Tahoma", "Verdana";
    font-size: 0.8em;
    width: 25%;
    margin-bottom: 0.5em;
    border: 1px solid black;
    border-radius: 1em;
}

/*celular*/
@media screen and (max-width: 767px) {
    form input,textarea{
        width: 100%;
    }
}

form input {
    text-align: center;
}

form textarea{
    padding: 0 0.5em;
    resize: none;
    height: 8em;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}     

#submit_button {
    cursor: pointer;
}

::-webkit-scrollbar { width:5px; background: none; }
::-webkit-scrollbar-track { background: rgba(0,0,0,0); }
::-webkit-scrollbar-thumb { border-radius:10px; background:#8b8778;  }

